<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
</head>
<body>
    <h4>Soy un h4</h4>

    <h1>El título de nuestro documento</h1>

    <h2>Un subtitulo cualquiera</h2>

    <img src="/images/calavera-ojo-ala-mariposa.jpg" alt="">

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor itaque a aliquid totam perferendis eligendi molestiae laudantium? Veritatis tenetur beatae, molestiae non, sit natus iste nihil, expedita sapiente nulla quaerat?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis excepturi sunt quasi voluptatibus doloremque, architecto ea recusandae explicabo sequi rerum repellat doloribus, aspernatur reiciendis exercitationem libero alias totam molestias quae!</p>

    <ol>
        <li>Itemn 1</li>
        <li>Itemn 2</li>
        <li>Itemn 3</li>
    </ol>

    <ul>
        <li>Itemn 1</li>
        <li>Itemn 2</li>
        <li>Itemn 3</li>
    </ul>

    <a href="http://www.google.com">Ir a google</a>
</body>
</html>